/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@100;300;400&display=swap");

/* VARIABLES */
:root {
  --darkblue: rgb(33, 101, 237);
  --lightblue: rgb(114, 194, 235);
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--lightblue);
  color: var(--darkblue);
}

/* PAGE LAYOUT */
.wrapper {
  margin: 20px;
}

/* HEADER */
.header-container {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
  padding: 100px 0 30px;
}

/* START BUTTON */
#start-btn {
  padding: 10px;
  border-radius: 50px;
  color: var(--lightblue);
  background: var(--darkblue);
  border-style: dotted;
  border-color: var(--lightblue);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#start-btn:hover {
    color: white;
}

/* QUESTION & ANSWERS FIELD */
.question-field {
  max-width: 500px;
  margin: 0 auto;
  border: 2px dotted var(--darkblue);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 30px;
}

#question {
  font-size: 1.3rem;
  color: white;
}

.answers-list {
  list-style: none;
}

.answers-list li:nth-child(2) {
  color: white;
}

.answers-list li:nth-child(4) {
  color: white;
}
