/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@100;300;400&display=swap");

/* VARIABLES */
:root {
  --green: rgb(10, 214, 3);
  --black: rgb(21, 21, 21);
  --white: rgb(25, 105, 7);
  /* --green: rgb(33, 101, 237);
  --black: rgb(114, 194, 235);
  --white: rgb(255, 255, 255); */
}

::selection {
  background-color: rgb(3, 70, 3)
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--black);
  color: var(--green);
}

/* PAGE LAYOUT */
.wrapper {
  margin: 20px;
}

/* HEADER */
.header-container {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
  padding: 100px 0 30px;
}

/* START BUTTON */
.btn-container {
  display: flex;
  justify-content: center;
  padding: 25px;
}

#start-btn {
  padding: 10px;
  border-radius: 50px;
  color: var(--green);
  background: var(--black);
  border-style: dotted;
  border-color: var(--green);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

#start-btn:hover {
    color: var(--black);
    background-color: var(--green);
    border-color: var(--black);
}

/* QUESTION & ANSWERS FIELD */
.question-field {
  max-width: 500px;
  margin: 0 auto;
  border: 2px dotted var(--green);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 30px;
}

#question {
  font-size: 1.3rem;
  color: var(--white);
}

.answers-list {
  list-style: none;
}

.answers-list li:hover {
  cursor: pointer;
  text-shadow: 0 0 15px rgb(0, 255, 38);
}

.answers-list li:nth-child(2) {
  color: var(--white);
}

.answers-list li:nth-child(4) {
  color: var(--white);
}

/* CORRECT or INCORRECT TEXT */
#right,
#wrong {
  font-style: italic;
  text-decoration: underline;
  display: none;
} 


